<nav>
  <div class="logo">
    <div>
      <img src="./assets/img/logo.png" alt="logo" />
      <div>we<span>tick</span></div>
    </div>

    <i id="menu-hidden" class="fas fa-bars"> </i>
  </div>
  <div class="menu" id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create-event.html">Create Event</a></li>
      <li><a href="/index.html#location">Location</a></li>
    </ul>
  </div>
  <div class="user" id="user">
    <div class="img"><img src="./assets/img/jhon.png" alt="jhon" /></div>
    Jhon Tomson
  </div>
</nav>
