<nav>
  <div class="logo">
    <div>
      <img src="./assets/img/logo.png" alt="logo" />
      <div>we<span>tick</span></div>
    </div>
    <i class="fas fa-bars" id="menu-hidden"></i>
  </div>
  <div class="menu" id="menu">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/create-event.html">Create Event</a></li>
      <li><a href="/index.html#location">Location</a></li>
    </ul>
  </div>
  <div class="user" id="user">
    <div>
      <button>Log In</button>
      <button>Sign up</button>
    </div>
  </div>
</nav>
