<aside>
  <div class="profile">
    <div class="img"><img src="./assets/img/jhon.png" alt="profile" /></div>
    <div class="profile-name">Jhon Tomson <span>Entrepreneur, ID</span></div>
  </div>
  <!-- <div class="menu-list" id="menu-hidden"><i class="fas fa-bars"></i>Menu</div> -->
  <div class="menu" id="menu">
    <ul>
      <li id="li"><i class="fas fa-user-circle"></i>Profile</li>
      <li class="sub-menu">
        <div class="line"></div>
        <i class="fas fa-credit-card"></i>Card
      </li>
      <li class="sub-menu active">
        <i class="fas fa-pen active"></i>Edit Profile
      </li>
      <li class="sub-menu"><i class="fas fa-unlock"></i>Change Password</li>
      <li><i class="fas fa-clipboard-list"></i>My Booking</li>
      <li><i class="fas fa-heart"></i>My Wishlish</li>
      <li><i class="fas fa-cog"></i>Setting</li>
      <li class="danger"><i class="fas fa-sign-out-alt danger"></i>Logout</li>
    </ul>
  </div>
</aside>
