* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins, sans-serif;
}
body {
  background: #f4f7ff;
}
@font-face {
  font-family: poppins;
  src: url(../font/Poppins-Regular.ttf);
}
:root {
  --primary: #3366ff;
  --secondary: #ffffff;
  --text1: #535e7c;
  --text2: #c1c5d0;
  --text3: #777777;
  --text4: #373a42;
  --text5: #373a42bf;
  --text6: #5a7184;
  --text7: #b3b8b8;
  --colorbtn: #eaf1ff;
  --title-home: #ff3d7140;
  --text-title-home: #ff3d71;
  --text8: #333333;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 90px;
  background: var(--secondary);
  box-shadow: 0 4px 25px #9797971a;
}
nav > .logo,
nav > .logo > div {
  display: flex;
  align-items: center;
}
nav > .logo > i {
  display: none;
}
nav > .logo > div > img {
  height: 47.5px;
  width: 50px;
}
nav > .logo > div > div {
  color: #3366ff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
nav > .logo > div > div > span {
  color: #fc1055;
}

nav > .menu > ul {
  display: flex;
  gap: 50px;
}
nav > .menu > ul > li {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
nav > .menu > ul > li > a {
  color: var(--text1);
}

nav > .user {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text1);
}
nav > .user > .img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #3366ff;
}
nav > .user > .img > img {
  height: 100%;
  border-radius: 50%;
  padding: 5px;
}
nav > .user > div {
  display: flex;
}
nav > .user > div > button {
  height: 40px;
  width: 170px;
  border-radius: 15px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
}
nav > .user > div > button:nth-child(1) {
  background-color: transparent;
  color: var(--text4);
}
nav > .user > div > button:nth-child(2) {
  background-color: var(--primary);
  color: var(--secondary);
  box-shadow: 0 8px 10px #3366ff26;
}
@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: 100%;
    padding: 30px;
    gap: 20px;
  }
  nav > .logo {
    justify-content: space-between;
    width: 100%;
  }
  nav > .menu > ul {
    flex-direction: column;
    gap: 20px;
  }
  nav > .logo > i {
    display: flex;
  }
  nav > .user {
    width: 100%;
    justify-content: center;
  }
  nav > .user > div {
    flex-direction: column;
    width: 100%;
  }
  nav > .user > div > button {
    width: 100%;
  }
  .container-content {
    flex-direction: column;
    margin: 20px 0 !important;
    padding: unset !important;
  }
  .container-content .left {
    position: relative;
  }
  .container-content .left > .img-event {
    width: 100% !important;
    height: unset !important;
  }
  .container-content .left > .heart {
    position: absolute;
    top: 20%;
    right: 5%;
  }
  .container-content .left > .heart i {
    color: var(--secondary);
    font-size: 30px !important;
  }
  .container-content .left > .heart span {
    display: none;
  }
  .container-content .right {
    gap: 10px !important;
    padding: 10%;
  }
  .container-content .right > .title {
    margin-top: -100%;
    position: relative;
    color: var(--secondary) !important;
  }
  .container-content .right > .location-date {
    position: relative;
    flex-direction: column;
    gap: 10px;
    color: white;
  }
  .container-content .right > .location-date > div,
  .container-content .right > .attendees-event p {
    position: relative;
    color: var(--secondary) !important;
  }
  .container-content .right > .attendees-event{
    position: relative;
  }
  .container-content .right > hr {
    display: none;
  }
  .container-content .right > .text-event {
    margin-top: 60%;
  }
  .container-content .right > .location iframe{
    width: 100% !important;
  }
  .container-content .right > button.btn-event{
    width: 100% !important;
  }
  .left > .img-stage{
    transform: rotate(45deg);
  }
  .right > .total-price{
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .right > button.my-booking{
    width: 100% !important;
  }
  .left-payment{
    margin-top: 20px;
    padding-left: 20px;
  }
  .right-payment{
    margin-top: 50px;
    padding-right: 20px;
    gap: unset !important;
  }
  section.home-location{
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .home-location > .content{
    height: 400px;
    overflow-y: scroll;
  }
  .partner .content .img-partner{
    max-height: unset !important;
    justify-content: center;
  }
}

aside {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-top: 50px;
  padding-left: 70px;
}
aside > .profile {
  display: flex;
  gap: 15px;
  align-items: center;
}
aside > .profile > .img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #3366ff;
}
aside > .profile > .img > img {
  height: 100%;
  border-radius: 50%;
  padding: 5px;
}
aside > .profile > .profile-name {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  color: var(--text4);
  letter-spacing: 1px;
  font-weight: 600;
}
aside > .profile > .profile-name > span {
  font-size: 12px;
  color: var(--text5);
  letter-spacing: 0.5px;
  font-weight: 400;
}
aside > .menu > ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
aside > .menu > ul > li {
  display: flex;
  align-items: center;
  gap: 25px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text4);
}
aside > .menu > ul > li > i {
  font-size: 21px;
  color: var(--text2);
}
aside > .menu > ul > li.danger,
aside > .menu > ul > li > i.danger {
  color: #f03800;
}
aside > .menu > ul > li.active,
aside > .menu > ul > li > i.active {
  color: var(--primary);
}
aside > .menu > ul > li.sub-menu {
  padding-left: 50px;
}
aside > .menu > ul > li > .line {
  padding: 0 10px;
  border-top: 1px solid #000;
  height: 1px;
  width: 100px;
  line-height: 0.1em;
  position: absolute;
  margin-left: -10px;
}
aside > .menu-list {
  display: none;
}
@media (max-width: 768px) {
  aside {
    padding-left: 30px;
  }
  aside > .menu-list {
    display: flex;
    align-items: center;
    gap: 25px;
    color: var(--text4);
    font-size: 14px;
    letter-spacing: 2px;
    font-weight: 600;
  }
  aside > .menu-list > i {
    color: var(--text5);
    font-size: 20px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding: 70px;
  margin-top: 100px;
}

footer > .content {
  display: flex;
  justify-content: space-between;
}

footer > .content > div {
  display: flex;
  flex-direction: column;
}
footer > .content > div:first-child {
  gap: 30px;
}
footer > .content > div:not(:first-child) {
  gap: 20px;
}
footer > .content > div > .logo {
  display: flex;
  align-items: center;
}
footer > .content > div > .logo > img {
  height: 47.5px;
  width: 50px;
}
footer > .content > div > .logo > div {
  color: #3366ff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
footer > .content > div > .logo > div > span {
  color: #fc1055;
}
footer > .content > div > .social {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
footer > .content > div > .social > .icon {
  display: flex;
  gap: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  color: var(--text4);
}
footer > .content > div > .social > .icon > i {
  font-size: 20px;
  color: var(--text2);
}
footer > .content > div > h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text4);
}
footer > .content > div > ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: var(--text2);
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
footer > .copyright {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text6);
}
@media (max-width: 768px) {
  footer > .content {
    flex-direction: column;
    gap: 30px;
  }
  footer {
    gap: 50px;
    padding: 30px;
  }
}

.content-init {
  display: flex;
  width: 100%;
}
@media (max-width: 768px) {
  .content-init {
    flex-direction: column;
  }

  section > .container {
    display: flex;
    padding: 50px;
    margin: 50px;
    background-color: var(--secondary);
    border-radius: 30px;
    min-height: 600px;
  }
}
section > .container,
section > .booking {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px;
  margin: 50px;
  background-color: var(--secondary);
  border-radius: 30px;
  min-width: 900px;
}

section > .container > div.title {
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 1px;
  color: var(--text4);
}

section > .container > div:nth-child(2) {
  display: flex;
  width: 100%;
}
section > .container > div > .form {
  flex: 1;
}
section > .container > div > .form > form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
section > .container > div form label {
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--text4);
}
section > .container > div form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section > .container > div form > div .input {
  height: 55px;
  width: 315px;
  align-items: center;
  display: flex;
  border: 1px solid var(--text2);
  border-radius: 15px;
  padding-left: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--text3);
}
section > .container > div form > div:nth-child(2) .input,
section > .container > div form > div:nth-child(3) .input,
section > .container > div form > div:nth-child(4) .input,
section > .container > div form > div:nth-child(5) .input,
section > .container > div form > div:nth-child(8) .input {
  border: none;
  display: flex;
  gap: 10px;
}
section > .container > div form > div .input > input[type="text"],
section > .container > div form > div .input > select {
  height: 100%;
  width: 100%;
  border: none;
  outline: unset;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--text3);
}
section > .container > div form > div .input > select {
  -webkit-appearance: none;
}
section > .container > div form > div .input > i {
  padding-right: 1rem;
  color: #979797;
}
section > .container > div form > div .input span {
  text-decoration: underline;
}
section > .container > div form > div .input a {
  color: var(--primary);
  text-decoration: underline;
}

section > .container > div form > div button {
  height: 60px;
  width: 315px;
  background-color: var(--primary);
  border-radius: 15px;
  color: var(--secondary);
  box-shadow: 0 8px 10px #2395ff4d;
  border: none;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}

section > .container > div > .edit-pic {
  flex: 0.75;
  display: flex;
  justify-content: end;
}
section > .container > div > .edit-pic > .border {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
section > .container > div > .edit-pic > .border > .pic {
  height: 135px;
  width: 135px;
  overflow: hidden;
  display: flex;
  padding: 10px;
  border: 4px solid var(--primary);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
section > .container > div > .edit-pic > .border > .pic img {
  border-radius: 50%;
  filter: brightness(50%);
  width: 100%;
  height: auto;
}
section > .container > div > .edit-pic > .border > .pic i {
  position: absolute;
  font-size: 20px;
  color: white;
}
section > .container > div > .edit-pic > .border > div:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
section > .container > div > .edit-pic > .border > div:nth-child(2) button {
  height: 40px;
  width: 255px;
  background-color: transparent;
  border: 1px solid var(--primary);
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--primary);
}
section > .container > div > .edit-pic > .border > div:nth-child(2) .text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 12px;
  letter-spacing: 0.5px;
  color: var(--text5);
}
@media (max-width: 768px) {
  section > .container {
    display: flex;
    padding: 30px;
    margin: unset;
    margin-top: 20px;
    border-radius: unset;
    min-width: 10px;
  }
  section > .container > div:nth-child(2) {
    flex-direction: column-reverse;
    width: unset;
    gap: 50px;
    align-items: center;
  }

  section > .container > div > .form {
    flex: unset;
    width: 100%;
  }
  section > .container > div form > div {
    flex-direction: column;
    align-items: start;
  }
  section > .container > div > .edit-pic {
    justify-content: start;
  }
  section > .container > div > .edit-pic > .border > div:nth-child(2) .text {
    display: none;
  }
  body section > .container > div form > div button.password {
    width: 80%;
  }
}
section > .container > div form > div .input-password {
  height: 55px;
  width: 80%;
  align-items: center;
  display: flex;
  border: 1px solid var(--text2);
  border-radius: 15px;
  padding-left: 15px;
  font-size: 14px;
  letter-spacing: 1px;
  color: var(--text3);
}
section > .container > div form > div .input-password > input {
  border: none;
  display: flex;
  outline: none;
}
section > .container > div form > div button.password {
  width: 100%;
}
section > .container > div > .form > form.password {
  gap: 30px;
}

section > .booking {
  min-height: 500px;
}

section > .booking > .title {
  display: flex;
  justify-content: space-between;
}

section > .booking > .title > div {
  font-size: 20px;
  font-weight: 600;
  color: var(--text4);
  letter-spacing: 1px;
}
section > .booking > .title > button {
  height: 50px;
  width: 125px;
  background-color: var(--colorbtn);
  border: unset;
  border-radius: 15px;
  color: var(--primary);
  gap: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  letter-spacing: 1px;
}

section > .booking > .content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  height: auto;
}
section > .booking > .content > div:nth-child(1) {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text4);
}
section > .booking > .content > div:nth-child(2) {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--text7);
  width: 40%;
  text-align: center;
  line-height: 30px;
}

.header {
  background-color: var(--primary);
  background-image: url(../img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 750px;
  display: flex;
  justify-content: end;
  padding-top: 100px;
}
@media (max-width: 768) {
  .header {
    display: unset;
    padding: 50px;
    width: 100px;
  }
  .header img {
    width: 100%;
    height: auto;
  }
}
.container-sign {
  display: flex;
}
.container-sign .left {
  flex: 1;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-sign .right {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
}
.container-sign .right > div {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container-sign .right > div .logo {
  display: flex;
  align-items: center;
}
.container-sign .right > div .logo > img {
  height: 47.5px;
  width: 50px;
}
.container-sign .right > div .logo > div {
  color: #3366ff;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
}
.container-sign .right > div .logo > div span {
  color: #fc1055;
}

.container-sign .text-title {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-sign .text-title h1 {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 1px;
  color: var(--text4);
}
.container-sign .text-title p,
.login-social p {
  font-size: 14px;
  letter-spacing: 0.5px;
  color: var(--text4);
}

form.form-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
form.form-login > div {
  display: flex;
  align-items: center;
  height: 55px;
  width: 315px;
  border: 1px solid var(--text2);
  padding: 0 25px;
  border-radius: 15px;
}
form.form-login > div i {
  color: var(--primary);
}
form.form-login > div.btn {
  border: none;
  padding: 0;
}
form.form-login > div input {
  height: 100%;
  width: 100%;
  border: 0;
  background-color: transparent;
  outline: none;
}
form.form-login a {
  text-align: end;
  letter-spacing: 0.5px;
  font-weight: 600;
  color: var(--primary);
}
form.form-login > div button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 15px;
  background-color: var(--primary);
  color: var(--secondary);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.login-social {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}
.login-social > div {
  display: flex;
  gap: 15px;
}
.login-social > div > button {
  height: 50px;
  width: 95px;
  border-radius: 6px;
  font-size: 20px;
  border: 1px solid var(--primary);
  background-color: transparent;
}
@media (max-width: 768px) {
  .container-sign .left {
    display: none;
  }
}
.home-event,
.home-category {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding-top: 175px;
}
.home-event .small-title,
.home-category .small-title {
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: var(--title-home);
  padding: 0 30px;
  border-radius: 30px;
}
.home-event .small-title hr,
.home-category .small-title hr {
  width: 30px;
  border: 0.5px solid var(--text-title-home);
}
.home-event .small-title p,
.home-category .small-title p {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 3px;
  color: var(--text-title-home);
}
.home-event .title,
.home-category .title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text8);
}
.home-event .date-event {
  display: flex;
  gap: 50px;
}
.home-event .date-event > div {
  height: 75px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--text2);
  font-weight: 600;
}
.home-event .date-event > div.active {
  color: #ff8900;
  border: 1px solid #ff8900;
  border-radius: 15px;
}
.home-event .date-event > div.active::after {
  content: "•";
}
.home-event .wrapper-event {
  display: flex;
  gap: 15px;
  width: 100%;
  overflow: auto;
  padding-left: 120px;
}
.home-event .wrapper-event .card {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  overflow: hidden;
  border-radius: 30px;
  height: 376px;
  width: 260px;
  position: relative;
  justify-content: end;
}
.home-event .wrapper-event .card img {
  height: auto;
  width: 100%;
  filter: brightness(60%);
}
.home-event .wrapper-event .card .content {
  position: absolute;
  display: flex;
  flex-direction: column;
  color: var(--secondary);
  padding: 25px;
  gap: 10px;
}
.home-event .wrapper-event .card .content .date-content {
  font-weight: 500px;
  letter-spacing: 1px;
}
.home-event .wrapper-event .card .content .title-event {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1px;
}
.attendees {
  display: flex;
}
.attendees > .attendees-icon {
  height: 28px;
  width: 28px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
}
.attendees > .attendees-icon > img {
  display: flex;
  height: auto;
  width: 100%;
}
.attendees > .attendees-icon:nth-child(2),
.attendees > .attendees-icon:nth-child(3),
.attendees > .attendees-icon:nth-child(4) {
  margin-left: -7px;
}
.attendees > .attendees-icon:nth-child(4) {
  border: none;
}

.attendees > .attendees-icon > div {
  position: absolute;
  background-color: #ff890099;
  height: 29px;
  width: 28px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0.5px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-event .btn-event-home {
  display: flex;
  gap: 50px;
}
.home-event .btn-event-home button,
.home-category > .hidden-btn > button {
  height: 45px;
  width: 45px;
  border: none;
  box-shadow: 0 2px 15px #1a3c4414;
  border-radius: 10px;
}
.home-event .btn-event-home button:nth-child(1),
.home-category > .hidden-btn > button:nth-child(1) {
  background-color: var(--secondary);
  color: var(--text2);
}
.home-event .btn-event-home button:nth-child(2),
.home-category > .hidden-btn > button:nth-child(2) {
  background-color: var(--primary);
  color: var(--secondary);
}

.home-location {
  margin-top: 175px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 70px;
  background-color: var(--primary);
  background-image: url(../img/bg2.png);
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.home-location > .small-title {
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff40;
  padding: 0 30px;
  border-radius: 30px;
}
.home-location .small-title hr {
  width: 30px;
  border: 0.5px solid var(--secondary);
}
.home-location .small-title p {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 3px;
  color: var(--secondary);
}
.home-location > .content {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
}
.home-location > .content .city {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: var(--secondary);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
  width: 230px;
}
.home-location > .content .city img {
  border-radius: 15px;
}
.home-location > .content .title {
  color: var(--secondary);
  font-weight: 600;
  font-size: 36px;
  letter-spacing: 1px;
  width: 230px;
}
.home-location > button {
  height: 40px;
  width: 255px;
  border: none;
  background-color: var(--secondary);
  color: var(--primary);
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1px;
}

.home-category > .category {
  display: flex;
  gap: 100px;
  justify-content: center;
}
.home-category > .category a {
  font-size: 16px;
  font-weight: 500;
  color: var(--text2);
}

.home-category > .content {
  display: flex;
  gap: 100px;
  align-items: center;
}
.home-category > .content button {
  height: 45px;
  width: 45px;
  border: none;
  box-shadow: 0 2px 15px #1a3c4414;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.home-category > .content button.left {
  background-color: transparent;
  color: var(--text2);
}
.home-category > .content button.right {
  background-color: var(--primary);
  color: var(--secondary);
}
@media (max-width: 768px) {
  .home-category > .content button {
    display: none;
  }
  .home-category > .content {
    width: 100%;
    overflow-x: scroll;
  }
  .home-event .wrapper-event {
    padding-left: 10px;
  }
}
.home-category > .content > .wrapper {
  display: flex;
  gap: 30px;
}
.home-category > .content > .wrapper .card {
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 300px;
  overflow: hidden;
  background-color: var(--primary);
  border-radius: 25px;
  flex-shrink: 0;
  box-shadow: 0 2px 15px #0000001a;
}
.home-category > .content > .wrapper .card > .img {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.home-category > .content > .wrapper .card > .img img {
  width: 100%;
  filter: brightness(80%);
}
.home-category > .content > .wrapper .card > .content {
  display: flex;
  flex-direction: column;
  height: 50%;
  padding-left: 25px;
  margin-top: -12px;
  position: relative;
  gap: 30px;
}
.home-category > .content > .wrapper .card > .content .text-card {
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.home-category > .content > .wrapper .card > .content .text-card p {
  font-size: 14px;
  font-weight: 500;
}
.home-category > .content > .wrapper .card > .content .text-card h2 {
  font-size: 22px;
  font-weight: 600;
}
.home-category > .hidden-btn {
  gap: 50px;
  display: none;
}
@media (max-width: 768px) {
  .home-category > .category {
    overflow-x: scroll;
    width: 100%;
  }
  .home-category > .hidden-btn {
    display: flex;
    gap: 50px;
  }
  section > .container,
  section > .booking {
    min-width: auto;
    margin: 10px;
    padding: 25px;
  }
  section > .booking > .title {
    flex-direction: column;
    gap: 20px;
  }
}

.partner {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  background-color: #373a42;
  padding: 90px;
  margin-top: 175px;
  background-image: url("../img/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.partner .small-title {
  display: flex;
  gap: 10px;
  height: 30px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff40;
  padding: 0 30px;
  border-radius: 30px;
}
.partner .small-title hr {
  width: 30px;
  border: 0.5px solid var(--secondary);
}
.partner .small-title p {
  font-weight: 600;
  font-size: 12px;
  letter-spacing: 3px;
  color: var(--secondary);
}
.partner .title {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--secondary);
}
.partner .content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 50px;
}
.partner .content p {
  color: var(--text2);
  font-size: 12px;
  letter-spacing: 0.5px;
}
.partner .content .img-partner {
  display: flex;
  gap: 60px;
  max-height: 70px;
  align-items: center;
  flex-wrap: wrap;
}
.partner .content .img-partner > img {
  width: auto;
  height: 100%;
}

.container-content {
  margin: 50px 120px;
  padding: 100px;
  background-color: var(--secondary);
  border-radius: 30px;
  display: flex;
}

.container-content .right {
  flex: 1;
}
.container-content .left {
  flex: 1;
}
.container-content .left {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}
.container-content .left > .img-event {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 486px;
  width: 375px;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 0 15px 30px #0000000d;
}
.container-content .left > .img-event img {
  height: auto;
  width: 100%;
  filter: brightness(70%);
}
.container-content .left > .heart {
  font-size: 20px;
  font-weight: 600;
  color: var(--text4);
  display: flex;
  align-items: center;
  gap: 15px;
}
.container-content .left > .heart i {
  font-size: 24px;
}
.container-content .right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 40px;
}
.container-content .right > .title,
.right .title-booking h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  color: var(--text4);
}
.container-content .right > .location-date {
  display: flex;
  justify-content: space-between;
}
.container-content .right > .location-date > div {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--text4);
  font-weight: 500;
  letter-spacing: 1px;
}
.container-content .right > .location-date > div > i {
  color: #fc1055;
}
.container-content .right > .attendees-event {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-content .right > .attendees-event p {
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--text4);
}

.container-content .right > hr {
  color: #c1c5d040;
}
.container-content .right > .text-event {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-content .right > .text-event > .title,
.container-content .right > .location .title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text4);
}
.container-content .right > .text-event > .desc {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 12px;
  color: var(--text5);
  letter-spacing: 1px;
}
.container-content .right > .text-event > .desc a {
  font-weight: 500;
  letter-spacing: 0.5px;
  color: var(--primary);
}
.container-content .right > .location {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-content .right > .location iframe {
  height: 150px;
  width: 315px;
  border-radius: 20px;
}
.container-content .right > button.btn-event {
  height: 55px;
  width: 315px;
  background-color: var(--primary);
  box-shadow: 0 8px 10px #2395ff4d;
  border: none;
  border-radius: 20px;
  color: var(--secondary);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.left > .img-stage {
  display: flex;
  height: auto;
  width: 100%;
}
.right .title-booking {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.right .title-booking > div {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 12px;
  color: #fc1055;
  font-weight: 600;
  letter-spacing: 1px;
}
.right .title-booking > div > button {
  height: 45px;
  width: 45px;
  transform: rotate(90deg);
  border: none;
  box-shadow: 0 2px 15px #1a3c4414;
  background-color: transparent;
  color: var(--primary);
  font-size: 20px;
  border-radius: 10px;
}

.right .ticket {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.right .ticket > .row {
  display: flex;
  gap: 15px;
}
.right .ticket > .row > .left-pic {
  display: flex;
  align-items: start;
}
.right .ticket > .row > .left-pic div {
  width: 45px;
  height: 45px;
  background-color: #f1eaff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.right .ticket > .row > .left-pic div.row-2 {
  background-color: #ffeaef;
}
.right .ticket > .row > .left-pic div.row-3 {
  background-color: #fff4e7;
}
.right .ticket > .row > .left-pic div > i {
  transform: rotate(125deg);
  font-size: 18px;
  color: #884dff;
}
.right .ticket > .row > .left-pic div.row-2 > i {
  color: #ff3d71;
}
.right .ticket > .row > .left-pic div.row-3 > i {
  color: #ff8900;
}
.right .ticket > .row > .center {
  display: flex;
  flex-direction: column;
  color: var(--text4);
  gap: 25px;
  flex: 1;
}
.right .ticket > .row > .center > div {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
}
.right .ticket > .row > .center > div > span,
.right .ticket > .row > .right-price div:nth-child(1) span {
  font-weight: 500;
  font-size: 12px;
  color: #bdc0c4;
}
.right .ticket > .row > .center > p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
}
.right .ticket > .row > .right-price {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}
.right .ticket > .row > .right-price div:nth-child(1) {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.right .ticket > .row > .right-price div:nth-child(2) {
  display: flex;
  gap: 20px;
  align-items: center;
}
.right .ticket > .row > .right-price div:nth-child(2) button {
  height: 30px;
  width: 30px;
  border-radius: 7px;
  border: 1px solid #c1c5d0;
  background-color: transparent;
}
.right > .total-price,
.right-payment > .content > .payment-total {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.right > .total-price > div,
.right-payment > .content > .payment-total > div {
  display: flex;
  justify-content: space-between;
  color: var(--text4);
  font-weight: 600;
  letter-spacing: 0.5px;
}
.right > .total-price > div span,
.right-payment > .content > .payment-total > div span {
  color: var(--primary);
}
.right > button.my-booking,
.right-payment > .content > button {
  height: 55px;
  width: 315px;
  border-radius: 15px;
  border: none;
  background-color: var(--primary);
  color: var(--secondary);
  box-shadow: 0 8px 10px #2395ff4d;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.left-payment {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.left-payment > .title,
.right-payment > .content > .title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text4);
}
.left-payment > .payment-method {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.left-payment > .payment-method > .col {
  display: flex;
  gap: 15px;
  align-items: center;
}
.left-payment > .payment-method > .col {
  display: flex;
  gap: 15px;
  align-items: center;
}
.left-payment > .payment-method > .col .logo-payment > div {
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.left-payment > .payment-method > .col .logo-payment > div.card {
  background-color: #884dff33;
  color: #884dff;
}
.left-payment > .payment-method > .col .logo-payment > div.bank {
  background-color: #fc105533;
  color: #fc1055;
}
.left-payment > .payment-method > .col .logo-payment > div.retail {
  background-color: #ff890033;
  color: #ff8900;
}
.left-payment > .payment-method > .col .logo-payment > div.e-money {
  background-color: #3366ff33;
  color: #3366ff;
}
.left-payment > .payment-method > .col > .name {
  display: flex;
  align-items: center;
  flex: 0.6;
  justify-content: space-between;
  font-weight: 600;
  color: var(--text4);
}
.left-payment > .payment-method > .atm {
  margin-top: -30px;
  margin-left: 5%;
  display: flex;
  align-items: center;
  gap: 15px;
}
.left-payment > .payment-method > .atm img {
  height: auto;
  width: 100%;
  max-width: 285px;
}
.left-payment > .payment-method > .atm > button {
  height: 45px;
  width: 45px;
  border-radius: 10px;
  border: 1px dashed var(--primary);
  background-color: transparent;
  font-size: 30px;
  color: var(--primary);
}
.right-payment {
  flex: 1;
  display: flex;
  gap: 50px;
}
.container-content > .right-payment > hr {
  height: 60%;
}
.right-payment > .content {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 50px;
}
.right-payment > .content > button {
  width: 100%;
}

section.modal {
  position: absolute;
  background-color: #f4f7ff62;
  display: flex;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal.hide {
  display: none;
}
.modal-event {
  background-color: white;
  padding: 50px;
  width: 100%;
  margin: 130px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.modal-event > .title {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--text4);
}
.modal-event > form {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 60px;
  row-gap: 30px;
}
.modal-event > form > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.modal-event > form > div.detail {
  grid-column: 1/3;
}
.modal-event > form > div.detail > textarea {
  height: 100px;
  padding: 25px;
  border-radius: 15px;
  border: 1px solid #c1c5d0;
}
.modal-event > form > div > label {
  letter-spacing: 1px;
  color: var(--text4);
}
.modal-event > form > div > input {
  height: 55px;
  padding-left: 25px;
  border-radius: 15px;
  border: 1px solid #c1c5d0;
}
.modal-event > form > div.btn {
  grid-column: 1/3;
  align-items: end;
}
.modal-event > form > div.btn > button {
  height: 60px;
  width: 315px;
  border-radius: 15px;
  border: none;
  background-color: var(--primary);
  color: var(--secondary);
  box-shadow: 0 8px 10px #2395ff4d;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 600;
}
div.close {
  display: flex;
  justify-content: end;
}
div.close > button {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  width: 100px;
}
