@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
a {
  text-decoration: none;
}
body {
  background-color: #f4f7ff;
}
h1 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 1px;
}
h2 {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
h3 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
h4 {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
p {
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.btn,
.btn button {
  height: 55px;
  width: 100px;
  border-radius: 15px;
  background-color: rgb(121, 102, 102);
  border: none;
}

.primary {
  background-color: #3366ff;
  color: white;
}
.transparent {
  background-color: transparent;
}

@media (max-width: 768px) {
  body .navbar #menuHidden {
    display: unset;
    background-color: transparent;
    border: none;
    margin-top: 20px;
  }
  body .navbar .left > div:first-child {
    display: flex;
    gap: 50px;
  }
  body .container .left {
    display: none;
  }
  body .container .right {
    width: 100%;
  }
  body .navbar {
    flex-direction: column;
    height: 100%;
    margin-bottom: 10px;
  }
  .navbar .menu {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .navbar .right {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar .right button {
    width: 100%;
  }
  .home-event {
    padding: 100px 30px;
  }
  .home-location {
    margin: 30px;
    padding: 30px;
    height: 700px;
  }
  .home-location .location {
    overflow-y: auto;
    justify-content: center;
  }
  .home-location .location h1 {
    font-size: 24px;
  }
  .home-category .category {
    overflow-x: auto;
    max-width: 100%;
    gap: 100px;
  }

  .home-category {
    padding: 100px 30px;
  }

  .home-category .right-btn,
  .home-category .left-btn {
    display: none;
  }
  .home-category .list-event-category {
    justify-content: start;
  }
  body .home-category .list-event-category .card {
    margin-left: 0;
  }
  .home-category .btn-category {
    display: flex;
  }
  .partner {
    padding: 100px 70px;
  }
  .footer .content-footer {
    flex-direction: column;
  }
  body .footer {
    padding: 100px 30px;
  }
  .footer .content-footer {
    gap: 50px;
  }
}

.container {
  display: flex;
  max-height: 100%;
}
.container .left {
  background-color: #3366ff;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.container .left img {
  height: 480px;
}
.container .right {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 120px 0;
}
.btn-login-sosmed {
  display: flex;
  gap: 20px;
}
.btn-login-sosmed .btn {
  background-color: transparent;
  border: 1px solid #3366ff;
}
.container-login {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.container-login .text-login {
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: #373a42;
}
.container-login .text-login h1 {
  font-size: 24px;
  font-weight: 600;
}
.container-login .signin-sosmed {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.form-login {
  width: 315px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-login .input {
  display: flex;
  align-items: center;
  height: 55px;
  width: 315px;
  margin-bottom: 15px;
  border: 1px solid #c1c5d0;
  border-radius: 15px;
  overflow: hidden;
}
.form-login .input input {
  background: transparent;
  padding-left: 25px;
  width: 100%;
  color: #c1c5d0;
  outline: none;
  border: none;
  font-size: 14px;
  letter-spacing: 1px;
}

.form-login .input img {
  height: 15px;
  width: 24px;
  margin-right: 25px;
}
.form-login .forget {
  display: flex;
  justify-content: end;
  color: #3366ff;
  font-size: 14px;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
  font-weight: 600;
}
.form-login .btn {
  height: 55px;
  width: 100%;
  border-radius: 15px;
  background: #3366ff;
  color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 8px 10px #2395ff4d;
}
.form-login .btn button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  height: 100%;
  width: 100%;
}

/* logo */
.logo {
  display: flex;
  align-items: center;
  color: #3366ff;
  font-size: 24px;
  letter-spacing: 1px;
  font-weight: 600;
}
.logo img {
  width: 47.5px;
  height: 50px;
}
.logo span {
  color: #fc1055;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 90px;
  background-color: white;
}
.navbar #menuHidden {
  display: none;
}
.navbar .menu a {
  text-decoration: none;
  color: #373a42;
  letter-spacing: 1px;
  font-size: 14px;
  font-weight: 600;
}

.navbar .menu {
  display: flex;
  gap: 50px;
}
.navbar .right {
  display: flex;
  gap: 10px;
}
.navbar .btn {
  width: 169px;
  height: 40px;
  box-shadow: 0 8px 10px #3366ff26;
}
.navbar .nav-profile {
  display: flex;
  align-items: center;
  gap: 15px;
}
.navbar .nav-profile .img-nav-profile {
  height: 55px;
  width: 55px;
  border: 2px solid #3366ff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.navbar .nav-profile .img-nav-profile img {
  height: 44px;
  border-radius: 50%;
}
.navbar .nav-profile .name-nav-profile h4 {
  color: #373a42;
  font-weight: 600;
}

.hero {
  background-image: url(./assets/img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3366ff;
  height: 750px;
  width: 100%;
  display: flex;
  justify-content: end;
}

.home-event {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 120px 175px;
}
.small-title {
  padding: 6px 30px;
  background-color: #ff3d7140;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  gap: 10px;
}
.small-title p {
  letter-spacing: 3px;
  font-weight: 600;
  color: #ff3d71;
}
.small-title hr {
  border: 1px solid #ff3d71;
  width: 30px;
}
.title {
  color: #333333;
}
.home-event .date {
  display: flex;
  gap: 60px;
  color: #c1c5d0;
}
.home-event .date div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 75px;
  gap: 2px;
}
.home-event .date .active {
  border: 1px solid #ff8900;
  color: #ff8900;
  border-radius: 20px;
}

.wrapper-event {
  display: flex;
  max-width: 100%;
  gap: 30px;
  overflow-x: auto;
}
.wrapper-event .card {
  width: 260px;
  height: 376px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  position: relative;
  flex-shrink: 0;
}

.wrapper-event .card .img-bg img {
  width: 435px;
  height: 435px;
  position: relative;
}
.wrapper-event .card .content-card {
  position: absolute;
  padding: 30px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.wrapper-event .card .content-card .date-event h4,
.wrapper-event .card .content-card .name-event h2 {
  color: white;
  letter-spacing: 2px;
}
.small-icon {
  display: flex;
}
.small-icon div {
  height: 29px;
  width: 28px;
  border: 1px solid white;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
}
.small-icon div:nth-child(2),
.small-icon div:nth-child(3),
.small-icon div:nth-child(4) {
  margin-left: -7px;
  overflow: hidden;
}
.small-icon div:nth-child(4) img {
  position: relative;
  overflow: hidden;
}
.small-icon div:nth-child(4) span {
  position: absolute;
  background-color: #ff890099;
  height: 29px;
  width: 28px;
  border-radius: 50%;
  color: #ffffff;
  font-size: 8px;
  letter-spacing: 0.5px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
.small-icon div img {
  height: 29px;
  width: 28px;
}
.btn-event {
  display: flex;
  gap: 50px;
}

.btn-event button {
  box-shadow: 0 2px 15px #1a3c4414;
  height: 45px;
  width: 45px;
}

.home-location {
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin: 50px;
  border-radius: 50px;
  gap: 50px;
  background-image: url(./assets/img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.home-location .small-title {
  background-color: #ffffff40;
  width: 160px;
}
.home-location .small-title p {
  color: #ffffff;
}
.home-location .small-title hr {
  border: 1px solid #ffffff;
}
.home-location .location {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  width: 100%;
}
.home-location .location .title-location,
.home-location .location .city {
  width: 214px;
  height: auto;
}
.home-location .location .city {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.home-location .btn-location {
  display: flex;
  width: 100%;
  justify-content: center;
}
.home-location .btn-location button {
  background-color: white;
  width: 255px;
  height: 40px;
  color: #3366ff;
  font-weight: 600;
  letter-spacing: 1px;
}

.home-category {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
  padding: 175px 85px;
}
.home-category .category {
  display: flex;
  width: 100%;
  justify-content: space-around;
  color: #c1c5d0;
}
.home-category .category-event {
  display: flex;
  align-items: center;
  gap: 100px;
  overflow-x: auto;
  max-width: 100%;
}
.home-category .category-event button {
  box-shadow: 0 2px 15px #1a3c4414;
  height: 45px;
  width: 45px;
  border-radius: 10px;
}
.list-event-category {
  overflow-x: auto;
  display: flex;
  gap: 30px;
  width: auto;
  justify-content: center;
  max-width: 100%;
}
.list-event-category .card {
  width: 300px;
  height: 350px;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 15px 30px #0000001a;
  background-color: #3366ff;
}
.list-event-category .card:first-child {
  margin-left: 100px;
}
.list-event-category .card .img {
  height: 60%;
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  overflow: hidden;
}
.list-event-category .card .img img {
  width: 300px;
  height: auto;
  position: relative;
}
.list-event-category .card .card-content-category {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-left: 25px;
}
.list-event-category .card .card-content-category h4,
.list-event-category .card .card-content-category h2 {
  color: white;
  letter-spacing: 2px;
}
.list-event-category .card .card-content-category .small-icon {
  margin-top: -15px;
  position: relative;
}
.btn-category {
  display: none;
  gap: 50px;
}
.home-category .btn-category button {
  box-shadow: 0 2px 15px #1a3c4414;
  height: 45px;
  width: 45px;
  border-radius: 10px;
}
.partner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 200px 90px;
  background-image: url(./assets/img/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #373a42;
  gap: 50px;
}

.partner .small-title {
  background-color: #ffffff40;
}
.partner .small-title p {
  color: white;
}
.partner .small-title hr {
  border: 1px solid white;
}
.partner .title {
  color: white;
}
.partner .sub-title p {
  color: #c1c5d0;
}
.partner .partner-img {
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 75px;
  padding: 170px 200px;
}
.footer .content-footer {
  display: flex;
  justify-content: space-between;
}

.footer .content-footer .logo-sosmed {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .content-footer .text-sosmed {
  color: #373a42;
}
.footer .content-footer .sosmed {
  display: flex;
  gap: 18px;
}
.footer .content-footer li {
  color: #c1c5d0;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 500;
  list-style: none;
}
.footer .content-footer li:first-child {
  font-size: 16px;
  font-weight: 600;
  color: #373a42;
}
.copyright {
  color: #5a7184;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.container-content {
  margin: 120px;
  padding: 100px;
  display: flex;
  background-color: white;
  border-radius: 40px;
  overflow: hidden;
}

.container-content .left-booking {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-content .left-booking img {
  width: 500px;
}

.container-content .right-booking {
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 50px;
}
.container-content .right-booking > div:first-child {
  display: flex;
  justify-content: space-between;
}
.container-content .right-booking > div:first-child .title h2 {
  font-size: 20px;
  font-weight: 600;
  color: #373a42;
}
.container-content .right-booking > div:first-child .by-price {
  display: flex;
  align-items: center;
  gap: 15px;
}
.container-content .right-booking > div:first-child .by-price p {
  color: #fc1055;
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 600;
}
.container-content .right-booking > div:first-child .by-price .arrow {
  height: 45px;
  width: 45px;
  box-shadow: 0 2px 15px #1a3c4414;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.container-content .right-booking .price-ticket {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c1c5d040;
  padding-bottom: 25px;
  gap: 50px;
}
.container-content .right-booking .price-ticket .price {
  width: 100%;
  display: flex;
}
.price-ticket .price h4 {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #373a42;
  text-transform: uppercase;
}
.price-ticket .price h5 {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #bdc0c4;
}
.price-ticket .price p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #373a42;
}
.price-ticket .price .btn {
  border: 1px solid #c1c5d0;
  width: 33px;
  height: 30px;
  border-radius: 7px;
  color: #c1c5d0;
}
.price-ticket .price .img-price {
  width: 45px;
}
.price-ticket .price .detail-price {
  width: 60%;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.price-ticket .price .price-person {
  display: flex;
  flex-direction: column;
  align-items: end;
}
.price-ticket .price .price-person > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price-ticket .price .price-person > div:last-child {
  display: flex;
  align-items: center;
  gap: 20px;
}

.container-content .right-booking .total-payment {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.container-content .right-booking .total-payment div {
  display: flex;
  justify-content: space-between;
}
.container-content .right-booking .total-payment div h3 {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: #373a42;
}
.container-content .right-booking .total-payment div > h3:last-child {
  color: #3366ff;
}
.container-content .right-booking .btn-payment .btn {
  width: 315px;
  height: 55px;
  box-shadow: 0 8px 10px #2395ff4d;
}
.container-content .left {
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.container-content .left .img-event {
  width: 375px;
  height: 486px;
  border-radius: 40px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  box-shadow: 0 15px 30px #0000000d;
  filter: brightness(50%);
}

.container-content .left .add-wishlist {
  display: flex;
  gap: 15px;
  color: #373a42;
}
.container-content .right {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.container-content .right > .title {
  max-width: 60%;
}
.container-content .right .title h1 {
  font-size: 24px;
  color: #373a42;
  letter-spacing: 2px;
}
.container-content .right .title h2 {
  font-size: 20px;
  font-weight: 600px;
  color: #373a42;
}

.container-content .right .location-time {
  display: flex;
  justify-content: space-between;
}
.container-content .right .location-time > div {
  display: flex;
  gap: 5px;
}
.container-content .right .attendees,
.container-content .right .event-detail,
.container-content .right .location-event-detail {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.container-content .right .event-detail a {
  text-decoration: none;
  font-size: 12px;
  color: #3366ff;
  font-weight: 500;
}
.container-content .right .location-event-detail .img-location {
  width: 315px;
  height: 151px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.container-content .right .location-event-detail .img-location img {
  width: 100%;
}
.container-content .right .btn-event-detail .btn {
  width: 315px;
  height: 55px;
  box-shadow: 0 8px 10px #2395ff4d;
  margin-top: 50px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}
.payment-left {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 50px;
}
.payment-left .title h2,
.payment-left .title h2 {
  font-weight: 600;
  color: #373a42;
}
.payment-left .img {
  height: 45px;
  width: 45px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}
.bg1 {
  background-color: #884dff33;
}
.bg2 {
  background-color: #fc105533;
}
.bg3 {
  background-color: #ff890033;
}
.bg4 {
  background-color: #3366ff33;
}
.payment-left table {
  border-collapse: collapse;
  width: 90%;
}
.payment-left table td {
  padding-bottom: 30px;
}
.payment-left table .img-table {
  height: 100%;
  width: auto;
}
.payment-left table .btn {
  height: 45px;
  width: 45px;
  border: 1px solid #3366ff;
  border-style: dashed;
  box-shadow: 0 2px 15px #1a3c4414;
  color: #3366ff;
  font-size: 30px;
}
.payment-right {
  width: 50%;
}
.payment-right .payment-border {
  padding-left: 60px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-left: 1px solid #c1c5d040;
}
.payment-right table {
  border-collapse: collapse;
  width: 100%;
}
.payment-right table td {
  padding-bottom: 15px;
}
.payment-right table td:nth-child(2) {
  text-align: end;
  color: #3366ff;
}
.payment-right .btn {
  height: 55px;
  width: 100%;
  box-shadow: 0 8px 10px #2395ff4d;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}
.payment-right table td,
.payment-left table td {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #373a42;
}
