@font-face {
  font-family: "poppins";
  src: url(./font/Poppins-Regular.ttf);
}
@font-face {
  font-family: "poppins-bold";
  src: url(./font/Poppins-Bold.ttf);
}
@font-face {
  font-family: "poppins-semiBold";
  src: url(./font/Poppins-SemiBold.ttf);
}
body {
  font-family: poppins;
  margin: 0;
  background-color: #f4f7ff;
}
.img-hero {
  display: flex;
  justify-content: end;
}
.hero {
  background-color: #3366ff;
  height: 750px;
  background-image: url(./img/bg1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
  height: 90px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  font-family: poppins-semiBold;
}
.logo img {
  height: 47.5px;
  width: 50px;
}
.logo p {
  color: #3366ff;
}
.logo span {
  color: #fc1055;
}

.menu {
  display: flex;
  gap: 40px;
}
.menu a {
  text-decoration: none;
  color: #373a42;
  font-size: 14px;
}
.menu a:hover {
  text-decoration: underline;
}

.btn {
  border: 0;
  border-radius: 15px;
  height: 30px;
  width: 100px;
  color: #373a42;
  font-family: poppins;
}
.btn.transpatant {
  background-color: transparent;
  height: 40px;
  width: 169px;
}
.btn.white {
  background-color: white;
  height: 40px;
  width: 169px;
}
.btn.primary {
  background-color: #3366ff;
  color: white;
  height: 40px;
  width: 169px;
}
.event {
  margin-top: 172px;
}
.top-title {
  display: flex;
  justify-content: center;
}
.top-title .btn {
  background-color: #ff3d7140;
  color: #ff3d71;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 36px;
  color: #333333;
}
.event .date {
  display: flex;
  justify-content: center;
  display: flex;
  gap: 40px;
  text-align: center;
  font-weight: bold;
}
.event .date div {
  font-size: 14px;
  color: #c1c5d0;
  height: 75px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
}
.event .date .active {
  border: 1px solid #ff8900;
  color: #ff8900;
}
.card {
  background-color: salmon;
  height: 376px;
  width: 260px;
  border-radius: 20px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: end;
  color: white;
  box-shadow: 10px 10px 10px 0px #a2a2a5;
}
.card-space {
  display: flex;
  gap: 30px;
  position: absolute;
  margin-left: 120px;
  margin-top: 50px;
}
.card-space .card:nth-child(odd) {
  background-image: url(./img/card1.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card-space .card:nth-child(even) {
  background-image: url(./img/card2.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.card .text {
  margin: 15px;
}
.card .text p {
  font-size: 14px;
}
.card .text h3 {
  font-size: 22px;
  font-weight: 0;
  letter-spacing: 2px;
  margin: 0;
}
.small-icon {
  display: flex;
  margin-bottom: 30px;
  margin-left: 20px;
  margin-top: 15px;
}
.small-icon div:nth-child(1) {
  background: url(./img/group1.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: -7px;
  border-radius: 100%;
  border: 1px solid white;
  height: 30px;
  width: 30px;
}
.small-icon div:nth-child(2) {
  background: url(./img/group2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: -7px;
  border-radius: 100%;
  border: 1px solid white;
  height: 30px;
  width: 30px;
}
.small-icon div:nth-child(3) {
  background: url(./img/group3.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: -7px;
  border-radius: 100%;
  border: 1px solid white;
  height: 30px;
  width: 30px;
}
.small-icon div:nth-child(4) {
  background-image: url(./img/group4.png);
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: -7px;
  border-radius: 100%;
  border: 1px solid white;
  height: 30px;
  width: 30px;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.small-icon p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #ff890099;
  opacity: 60%;
}
.btn-event {
  margin-top: 500px;
  display: flex;
  justify-content: center;
}
.btn-event .btn {
  margin: 0 25px;
  height: 45px;
  width: 45px;
  box-shadow: 2px 2px 2px 0px grey;
}
.location {
  margin-top: 175px;
  background-color: #3366ff;
  background-image: url(./img/bg2.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 50px;
  border-radius: 50px;
}
.location .top-title {
  display: flex;
  justify-content: start;
}
.location .top-title .btn {
  color: white;
  background-color: #ffffff25;
  letter-spacing: 3px;
  width: 160px;
  font-size: 12px;
  margin-top: 64px;
  margin-left: 78px;
}
.location .city {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 25px;
  margin: 0 78px;
}
.location .discover {
  width: 230px;
  height: 192px;
  font-size: 26px;
  color: #ffffff;
}

.location .city .card {
  height: 180px;
  width: 230px;
  border-radius: 15px;
  box-shadow: none;
  background-color: transparent;
  color: white;
  margin-top: 40px;
}
.location .city .card img {
  height: 160px;
  margin-bottom: 15px;
}
.location .city .card p {
  display: flex;
  justify-content: center;
  margin: 0;
}

.btn-location {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.btn-location .btn {
  height: 40px;
  width: 255px;
  color: #3366ff;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 73px;
}
.category {
  margin-top: 175px;
  margin-bottom: 175px;
}
.category .tag {
  display: flex;
  justify-content: space-evenly;
}
.category .tag a {
  text-decoration: none;
  color: #c1c5d0;
  font-size: 16px;
}
.category .tag a:hover {
  color: #3366ff;
  text-decoration: underline;
}
.category .category-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.category .category-card .btn-event {
  margin: 0;
}
.space-card {
  justify-content: center;
  display: flex;
}
.space-card .card {
  height: 350px;
  width: 300px;
  margin: 10px;
  background-color: #3366ff;
  overflow: hidden;
}
.space-card .card img {
  height: 240px;
  margin-bottom: 10px;
}
.space-card .card .text {
  margin-top: 0;
  margin-bottom: 20px;
  margin-right: 70px;
}
.space-card .card .text p,
.space-card .card .text h3 {
  letter-spacing: 2px;
}
.space-card .card .text .small-icon {
  position: absolute;
  transform: translate(-20%, -120%);
}
.partner {
  background-color: #373a42;
  background-image: url(./img/bg3.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.partner .top-title {
  display: flex;
}
.partner .top-title .btn {
  margin-top: 89px;
  background-color: #ffffff40;
  color: white;
  width: 150px;
}
.partner .title h2 {
  color: white;
  margin-bottom: 15px;
}
.partner .p {
  display: flex;
  justify-content: center;
  color: #c1c5d0;
  font-size: 12px;
}
.partner-logo {
  display: flex;
  justify-content: center;
  margin-top: 56px;
  gap: 62px;
  margin-bottom: 170px;
}
.partner-logo img {
  /* height: 80px; */
  margin-bottom: 96px;
}

.footer {
  color: #373a42;
  height: 100px;
  margin: 0 200px;
  display: flex;
  justify-content: center;
}
.footer div {
  flex: 1;
}
.footer ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer li {
  list-style: none;
  word-spacing: 1px;
  color: #c1c5d0;
}
.footer li:first-child {
  color: #373a42;
  font-family: poppins-bold;
}
.copyright {
  color: #5a7184;
  font-size: 16px;
  font-family: poppins-bold;
  position: absolute;
  margin: 144px 0;
}

.content {
  background-color: white;
  border-radius: 30px;
  display: flex;
  margin: 120px;
  padding: 100px;
}
.content .left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .left .img {
  height: 486px;
  width: 375px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.content .left span {
  padding: 50px;
  color: #373a42;
  font-size: 20px;
  font-family: poppins-semiBold;
}

.content .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title-event {
  color: #373a42;
  font-size: 24px;
}
.location-event {
  color: #373a42;
  display: flex;
  justify-content: space-between;
  width: 100%;
  word-spacing: 1px;
}
.location-event div {
  display: flex;
  align-items: center;
}
.attendees {
  width: 100%;
  padding: 30px;
  color: #373a42;
}
.attendees .cross {
  border-bottom: 1px solid #c1c5d040;
}
.attendees .small-icon {
  margin: 0;
  margin-bottom: 30px;
}

.detail-event {
  width: 100%;
}
h2 {
  margin: 0;
  color: #373a42;
  font-size: 20px;
  letter-spacing: 1px;
}
.detail-event p {
  margin: 0;
  color: #373a42;
  border-top: 15px;
  font-size: 12px;
}
.detail-event a {
  margin: 0;
  border-top: 10px;
  font-size: 12px;
  text-decoration: none;
}

.maps {
  padding-top: 25px;
  width: 100%;
}
.maps .img {
  margin-top: 30px;
  height: 150px;
  width: 315px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.maps .img img {
  width: 100%;
}
.maps .btn {
  margin-top: 50px;
  height: 55px;
  width: 315px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 1px;
}

.checkout .left {
  width: 60%;
}
.checkout .right {
  width: 40%;
}
.checkout .right .title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkout .right .title div {
  display: flex;
  align-items: center;
}
.checkout .right .title span {
  font-size: 12px;
  color: #fc1055;
  font-family: poppins-semiBold;
  margin-right: 10px;
}
.checkout .right .title .btn {
  height: 45px;
  width: 45px;
  background-color: #1a3c4414;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(128, 128, 128, 0.4);
}
.price-ticket {
  width: 100%;
}
.price-ticket table {
  width: 100%;
  letter-spacing: 1px;
  padding-top: 50px;
}

.price-ticket table p,
.price-ticket table h4,
.price-ticket table h5 {
  margin: 0;
}
.price-ticket table h4 {
  font-size: 14px;
  color: #373a42;
}
.price-ticket table p {
  font-size: 12px;
  color: #bdc0c4;
}
.price-ticket table h5 {
  font-size: 12px;
  color: #373a42;
}
.price-ticket table tr td {
  vertical-align: top;
}
.price-ticket table tr td:nth-child(3) {
  text-align: end;
}
.price-ticket table tr td span {
  color: #bdc0c4;
  font-size: 12px;
  font-family: poppins;
}
.price-ticket table tr td .btn {
  height: 30px;
  width: 33px;
  border-radius: 7px;
  border: 1px solid #c1c5d0;
  background-color: transparent;
  color: #c1c5d0;
}
.price-ticket table tr td .btn:nth-child(1) {
  margin-right: 20px;
}
.price-ticket table tr td .btn:nth-child(2) {
  margin-left: 20px;
}
.price-ticket .row {
  border-bottom: 1px solid #c1c5d040;
}

.total-price {
  width: 100%;
  padding-top: 25px;
}
.total-price table {
  width: 100%;
  font-size: 14px;
  font-family: poppins-semiBold;
  color: #373a42;
  letter-spacing: 1px;
}
.total-price table tr td:nth-child(2) {
  color: #3366ff;
  text-align: end;
  padding-top: 15px;
}
.total-price table .btn {
  height: 55px;
  width: 315px;
  border-radius: 15px;
  background-color: #3366ff;
  margin-top: 40px;
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  box-shadow: 0 8px 10px #2395ff4d;
}
